body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 10%;
  margin-inline: 20%;
 
}

.item-div {
  position: relative;
  display: grid;
  grid-template-columns: 65px  160px;

}

.icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: white;
  color: white;
  border: 2px solid #d5f2f7;
}

.icon-div div {
  font-size: 1.5em;
  flex-shrink: 0;
}

.content-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.content-div h4 {
  color: #333;
  margin: 0;
  font-size: small;
}

.content-div p {
  color: #666;
  margin: 0;
  font-size: x-small;
}










@media (max-width: 700px) {
  html{
    -ms-overflow-style: none;
   scrollbar-width: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  .main-div {
    flex-direction: column;
    margin-top: 10%;
  
  }

  .icon-div {
    width: 50px;
    height: 50px;
  }

  .item-div {
    position: relative;
    display: grid;
    grid-template-columns: 55px  155px;
  
  }
}